@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flexVertical {
  display: flex;
  align-items: center;
}

@mixin responsive($width) {
  @media (max-width: $width) {
    @content;
  }
}
